body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Display", "Inter", sans-serif;
}

/* скроллбар под премиальный стиль */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #050505;
}
::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
    background: #3a3a3a;
}

